/* Global */
Button {
	-fx-cursor: hand;
}
TextField:disabled {
	-fx-text-fill: black;
}
.combo-box:disabled,
.combo-box:disabled > .list-cell:disabled {
	-fx-text-fill: black;
	-fx-opacity: 0.8;
}
.date-picker:disabled,
.date-picker:disabled > .list-cell:disabled {
	-fx-text-fill: black;
	-fx-opacity: 0.9;
}
.invalidTextField{
	-fx-border-color: red;
	-fx-border-width: 2px;
	-fx-border-radius: 2px;
}
/* Main */
.main {
	-fx-background-image: url("../img/store.jpg");
	-fx-background-repeat: stretch;
	-fx-background-size: 1000 600;
	-fx-background-position: center center;
}
.menu-bar {
	-fx-background-color: #ee4641;
	-fx-padding: 0 0 0 0;
	
}
.menu-button:hover,
.menu-button:focused,
.menu-button:showing {
    -fx-background-color: #bb1110;
}
.menu-button > .label {
    -fx-text-fill: white;
}
.menu-item:hover,
.menu-item:focused,
.menu-item:showing {
	-fx-background-color: #ee4641;
}
.context-menu {
	-fx-padding: 0 0 0 0;
}

/* Nouveu Produit */
.root {
	-fx-background-color: white;
	-fx-spacing: 10;
}
.titleLabel {
	-fx-background-color: #ee4641;
	-fx-text-fill: white;
	-fx-alignment: baseline-center;
	-fx-padding: 10 0 10 0;
}
.root > .container {
	-fx-padding: 20 20 20 20;
}
.root > .container > .input {
	-fx-padding: 0 0 10 0;
}
.CategoryComboBox {
	-fx-background-color: #ee4641;
}
.CategoryComboBox > .list-cell {
	-fx-text-fill: white;
}
.CategoryComboBox > .arrow-button > .arrow{
	-fx-background-color: white;
}
.date-picker > .arrow-button > .arrow{
	-fx-background-color: #ee4641;
}
.categorieContainer > Button{
	-fx-background-color: #ee4641;
	-fx-text-fill: black;
}
.categorieContainer > Button:hover{
	-fx-text-fill: white;
}
.buttonsContainer > Button{
	-fx-background-color: #ee4641;
	-fx-text-fill: white;
}
.buttonsContainer > Button:hover{
	-fx-background-color: #bb1110;
}

/* List des produits */
.searchBar {
	-fx-border-color: #ee4641;
}
.tableView {
	-fx-border-color: #ee4641;
}
.tableView .placeholder {
	-fx-cursor: hand;
}
.tableView .column-header {
	-fx-background-color: #222222;
}
.tableView .column-header .label {
	-fx-text-fill: white;
}
.table-row-cell:hover,
.table-row-cell:selected {
    -fx-background-color: #ee4641;
    -fx-text-background-color: white;
    
}
.TotalHboxContainer {
	-fx-alignment: baseline-right;
	-fx-spacing: 10;
}
.TotalHboxContainer .label{
	-fx-text-fill: #ee4641;
	-fx-padding: 0 10 0 0;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	
}



















